# -*- mode: neon; -*-
# SPDX-FileCopyrightText: 2024 Temple University <kleinweb@temple.edu>
# SPDX-License-Identifier: CC0-1.0

includes:
    # <https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon>
    - phar://phpstan.phar/conf/bleedingEdge.neon

    # Only if necessary!
    # - phpstan-baseline.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
    tmpDir: .cache/phpstan/
