# -*- mode: neon; -*-
# SPDX-FileCopyrightText: 2024 Temple University <kleinweb@temple.edu>
# SPDX-License-Identifier: CC0-1.0

includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
    # <https://github.com/pantheon-systems/wp-saml-auth/blob/f1e8ba5c2c511296364b8e9d3b5559ec6c057a8d/phpstan.neon.dist#L13-L15>
    earlyTerminatingMethodCalls:
        OneLogin\Saml2\Auth:
            - login
    scanDirectories:
        - wp-content/plugins/wp-saml-auth/
    tmpDir: .cache/phpstan/
